body { font-family: Arial; background:#111; color:#fff; }
.login-box { width:300px; margin:100px auto; padding:20px; background:#222; border-radius:10px; }
input, button { width:100%; padding:10px; margin:6px 0; border-radius:6px; border:none; }
